
.header {
  background-color: #94C973;
  padding: 100px;
  color: $ECF87F;
  font-size: 40px;
  font-weight: bolder;
}

body {
  font-family: Gill Sans, sans-serif;
  background-image: url('img/homepic.gif');
  text-align: center;
}


.link {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
