head {
      font-family: Gill Sans, sans-serif;
      background-color: green;
      text-align: center;
}


body {
  font-family: Gill Sans, sans-serif;
  background-image: homepic.gif;
  text-align: center;
}
