
body {
  font-family: Gill Sans, sans-serif;
  background-image: url("https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/adobestock_168551098_2_1.jpeg?itok=njcAG7U5");
  text-align: center;
}
